.card.contact {
  width: 534px;
  height: 184px;
  background-color: black;
  color: rgb(255, 255, 255);
  h1 {
    height: 74px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  p {
    margin-top: 22px;
    font-weight: 400;
    font-size: 20px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.last-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 534px;
  height: 578px;
  gap: 40px;
}