.card.tools {
  width: 124px;
  height: 359px;
  padding: 12px 12px 2.95px 12px;
}
.tools-list {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  width: 76px;
  flex-direction: column;
  gap: 12px;
  margin: 15px 12px 0 12px;
}
.container {
  box-sizing: border-box;
  width: 76px;
  background-color: #ffffff;
  border-radius: 6px;
  height: 111px;
  flex: 1 1 auto;
  padding: 0 15.24px 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;


  &.nocode {
    height: 86px;
  }
}
.tool {
  width: 10px;
  height: 15px;
  &.ph {
    width: 14.76px;
    min-height: 14.76px;
  }
}
.tag-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 11px;
}

.container.artificial-intelligence {
  display: flex;
  box-sizing: border-box;
  gap: 0;
  align-items: center; /* Центрирование по горизонтали */
  width: 76px;
  height: 86.57px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 0; /* Убираем padding, если он мешает */
}

.tag-container.ai {
  width: 100%; /* Растягиваем на всю ширину контейнера */
  height: 11px;
  display: flex;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  margin-bottom: 11px; /* Отступ снизу */
}

.tag.ai {
  background-color: black;
  color: #ffffff;
  border-radius: 59px;
  font-size: 5px;
  font-weight: 500;
  margin-bottom: 16px;
  padding: 2px 6px;
  width: auto; /* Ширина по содержимому */
}

/* Стили для иконок (располагаются в колонке) */
.tool-wrapper {
  box-sizing: border-box;
  width: 76px;
  background-color: #ffffff;
  border-radius: 6px;
  flex: 1 1 auto;
  padding: 0 15.24px 16px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  align-content: center;
justify-content: space-around;
}

.tag {
  width: auto;

  background-color: black;
  color: #ffffff;
  border-radius: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
  font-weight: 500;
  margin-bottom: 9px;
  padding: 2px 6px;

  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &.design {
    margin-bottom: 1px;
  }
}
