.card.experience {
  max-width: 411px;
  min-width: 124px;
  width: 411px;
  height: 359px;
}
.job-list {
  width: 100%;
  height: 300px;
  margin-top: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 10px;
}
h2 {
  font-weight: 500;
  font-size: 8px;
  font-variant: normal;
  line-height: 12px;
}
.job {
  box-sizing: border-box;
  width: 100%;
  height: 76px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px;
  flex: 1 1 auto;

  overflow: hidden;

  h2 {
    font-weight: 500;
    font-size: 8px;
    font-variant: normal;
    line-height: 12px;
  }
  &.last {
    height: 76px;
    background-color: var(--main-green);
    color: #ffffff;
    li::before {
      color: white;
    }
    .editing {
      outline: 2px solid white;
      border-radius: 8px;
    }
  }
  &.second {
    height: 108px;
    color: #000000;
  }
  &.third {
    height: 96px;
    color: #000000;
  }
}

.top-bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.small-box {
  width: 61px;
  height: 16px;

  background-color: #7e731266;
  color: #ddf163;
  font-weight: 500;
  font-size: 8px;
  border-radius: 59px;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.editing {
    outline: 2px solid rgb(0, 255, 0);
    border-radius: 8px;
  }
}

.content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 8px;
}

.job-info {
  width: 124px;
  height: 25px;
  h3 {
    font-weight: 500;
    font-size: 10px;

    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-weight: 400;
    font-size: 8px;

    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.featured-points {
  width: 239px;
  height: auto;
  li {
    font-weight: 400;
    font-size: 8px;

    max-height: 37px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}
