.card.experience {
  max-width: 822px;
  min-width: 248px;
  width: 822px;
  height: 718px;
}
.job-list {
  width: 100%;
  height: 600px;
  margin-top: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 20px;
}
h2 {
  font-weight: 500;
  font-size: 16px;
  font-variant: normal;
  line-height: 24px;
}
.job {
  box-sizing: border-box;
  width: 100%;
  height: 152px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 16px;
  flex: 1 1 auto;
  overflow: hidden;
  h2 {
    font-weight: 500;
    font-size: 16px;
    font-variant: normal;
    line-height: 24px;
  }
  &.last {
    height: 152px;
    background-color: var(--main-green);
    color: #ffffff;
    li::before {
      color: white;
    }
    .editing {
      outline: 4px solid white;
      border-radius: 16px;
    }
  }
  &.second {
    height: 216px;
    color: #000000;
  }
  &.third {
    height: 192px;
    color: #000000;
  }
}

.top-bar {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.small-box {
  width: 122px;
  height: 32px;
  background-color: #7e731266;
  color: #ddf163;
  font-weight: 500;
  font-size: 16px;
  border-radius: 118px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &.editing {
    outline: 4px solid rgb(0, 255, 0);
    border-radius: 16px;
  }
}

.content {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  flex: 1 1 auto;
  gap: 16px;
}

.job-info {
  width: 248px;
  height: 50px;
  h3 {
    font-weight: 500;
    font-size: 20px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.featured-points {
  width: 478px;
  height: auto;
  li {
    font-weight: 400;
    font-size: 16px;
    max-height: 74px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}