.header {
  flex: 0 0 64px;
  width: 100%;
  background-color: rgba(246, 247, 248, 1);
}

.logo-container {
  flex: 1 0 auto;
  display: flex;
  margin: auto;
  gap: 32px;
  width: 555px;
  height: 100%;
  color: #000000;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 17px;
    font-weight: 500;
  }
}

.hr-line {
  background-color: rgba(0, 16, 36, 0.1);
  margin: 0;
  width: 824px;
  height: 1px;
  border-style: none;
  margin: 0 auto;
}
