.card.languages {
  max-width: 534px; /* 267px * 2 */
  min-width: 248px; /* 124px * 2 */
  width: 534px; /* 267px * 2 */
  height: 248px; /* 124px * 2 */
  overflow: hidden;
}
.list-languages {
  box-sizing: border-box;
  display: flex;
  gap: 20px; /* 10px * 2 */
  flex-direction: row;
  width: 486px; /* 243px * 2 */
  margin-top: 40px; /* 20px * 2 */
}
.name-languages {
  box-sizing: border-box;
  display: flex;
  gap: 12px; /* 6px * 2 */
  flex-direction: column;
  p {
    font-weight: 500;
    font-size: 20px; /* 10px * 2 */
    max-width: 116px; /* 58px * 2 */
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.level-language {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: 20px; /* 10px * 2 */
}

.progress-bar {
  flex: 0 1 auto;
  width: 100%;
  height: 22px; /* 11px * 2 */
  background-color: var(--main-green);
  border-radius: 6px; /* 3px * 2 */
  &.hindi {
    width: 70%;
  }
}